<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediConnect</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <div class="header__btn">
            <button onclick="toggleSidebar()" class="close__btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="header__logo">
            <img class="logo__img" src="/images/logo4.svg" alt="Logo MediConnect">
            <span class="logo__text">Medi Connect</span>
        </div>
        <div class="header__profile">
            <a class="profile__text">
                <%= usuario.email %>
            </a>
            <i class="fa-solid fa-circle-user"></i>
        </div>
    </header>

    <nav class="sidebar">
        <ul class="sidebar__list">
            <li class="list__item <%= request.originalUrl === '/' + usuario.rol ? 'list__item--active' : '' %>">
                <a class="item__area" href="/<%= usuario.rol %>" title="Inicio">
                    <i class="fa-solid fa-house"></i>
                    <span
                        class="area__text <%= request.originalUrl === '/' + usuario.rol ? 'area__text--active' : '' %>">Inicio</span>
                </a>
            </li>

            <% if (usuario.rol==='admin' || usuario.rol==='doctor' ) { %>
                <li class="list__item <%= request.originalUrl.includes('/admin/doctores') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/doctores" title="Doctores">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/doctores') ? 'area__text--active' : '' %>">Doctores</span>
                    </a>
                </li>
                <li class="list__item">
                    <a class="item__area" href="/pacientes.html" title="Pacientes">
                        <i class="fa-solid fa-user"></i>
                        <span class="area__text">Pacientes</span>
                    </a>
                </li>
                <li class="list__item <%= request.originalUrl.includes('/citas') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/citas" title="Citas">
                        <i class="fa-solid fa-box"></i>
                        <span class="area__text <%= request.originalUrl.includes('/citas') ? 'area__text--active' : '' %>">Citas</span>
                    </a>
                </li>
                <li
                class="list__item <%= request.originalUrl.includes('/medicamentos') ? 'list__item--active' : '' %>">
                <a class="item__area" href="/admin/medicamentos" title="Medicamentos">
                    <i class="fa-solid fa-hospital-user"></i>
                    <span
                        class="area__text <%= request.originalUrl.includes('/medicamentos') ? 'area__text--active' : '' %>">Medicamentos</span>
                    </a>
                </li>
                <li class="list__item">
                    <a class="item__area" href="/recetas.html" title="Recetas">
                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                        <span class="area__text">Recetas</span>
                    </a>
                </li>
                <% } %>

                    <% if (usuario.rol==='admin' ) { %>
                        <li class="list__divider"><span class="divider__text">ADMIN</span></li>

                        <li class="list__item <%= request.originalUrl.includes('/admin/especialidades') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/especialidades" title="Doctores">
                                <i class="fa-solid fa-stethoscope"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/especialidades') ? 'area__text--active' : '' %>">Especialidades</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="item__area" href="/horarios.html" title="Horarios">
                                <i class="fa-solid fa-clock"></i>
                                <span class="area__text">Horarios</span>
                            </a>
                        </li>
                        <li
                            class="list__item <%= request.originalUrl.includes('/sucursales') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/admin/sucursales" title="Sucursales">
                                <i class="fa-solid fa-hospital-user"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/sucursales') ? 'area__text--active' : '' %>">Sucursales</span>
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="item__area" href="/calificaciones.html" title="Calificaciones">
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span class="area__text">Calificaciones</span>
                            </a>
                        </li>
                        <li
                            class="list__item <%= request.originalUrl.includes('/bitacora') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/admin/bitacora" title="Bitácora">
                                <i class="fa-solid fa-database"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/bitacora') ? 'area__text--active' : '' %>">Bitácora</span>
                            </a>
                        </li>
                        <% } %>
        </ul>

        <div class="sidebar__bottom">
            <a class="bottom__btn" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="btn__text">Salir</span>
            </a>
        </div>
    </nav>

    <main class="main">
        <section class="main__container">
            <div class="container__navegation">
                <a class="navegation__text" href="#">INICIO</a>
                <a class="navegation__text navegation__text--active" href="#">/</a>
            </div>

            <div class="container__content">
                <% if (typeof viewParcial !=='undefined' ) { %>
                    <%- include(viewParcial) %>
                        <% } else { %>
                            <div class="content">
                                <div class="content__title">
                                    <h1>¡Bienvenido <%= usuario.rol.toUpperCase() %>!</h1>
                                    <p>Has iniciado sesión como <%= usuario.email %>.</p>
                                </div>
                            </div>
                            <% } %>
            </div>

        </section>
    </main>


    <script src="https://kit.fontawesome.com/fa4744a987.js" crossorigin="anonymous"></script>
    <script src="/js/toggleSidebar.js" defer></script>
    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>