<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MediConnect</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Fuente Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet" />

    <!-- DataTables 1.13.6 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <!-- Responsive para DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />

    <!-- Iconos FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <!-- Choices.js (para selects) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

</head>

<body>
    <header class="header">
        <div class="header__btn">

            <button class="menu-toggle-unificado" onclick="handleMenuToggle()">
                <i class="fa-solid fa-bars"></i>
            </button>

        </div>
        <div class="header__logo">
            <img class="logo__img" src="/images/logo1-b.svg" alt="Logo MediConnect">
        </div>
    </header>

    <nav class="sidebar">
        <ul class="sidebar__list">
            <li class="list__item <%= request.originalUrl === '/' + usuario.rol ? 'list__item--active' : '' %>">
                <a class="item__area" href="/<%= usuario.rol %>" title="Inicio">
                    <i class="fa-solid fa-house"></i>
                    <span
                        class="area__text <%= request.originalUrl === '/' + usuario.rol ? 'area__text--active' : '' %>">Inicio</span>
                </a>
            </li>
            <% if (usuario.rol==='admin' ) { %>
                <li class="list__item <%= request.originalUrl.includes('/doctores') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/doctores" title="Doctores">
                        <i class="fa-solid fa-user-doctor"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/doctores') ? 'area__text--active' : '' %>">Doctores</span>
                    </a>
                </li>

                <li
                    class="list__item <%= request.originalUrl.includes('/farmaceuticos') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/farmaceuticos" title="Farmacéuticos">
                        <i class="fa-solid fa-mortar-pestle"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/farmaceuticos') ? 'area__text--active' : '' %>">Farmacéuticos</span>
                    </a>
                </li>

                <li class="list__item <%= request.originalUrl.includes('/pacientes') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/pacientes" title="Pacientes">
                        <i class="fa-solid fa-users"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/pacientes') ? 'area__text--active' : '' %>">Pacientes</span>
                    </a>
                </li>

                <li class="list__item <%= request.originalUrl.includes('/listaCitas') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/listaCitas" title="Citas">
                        <i class="fa-solid fa-box"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/listaCitas') ? 'area__text--active' : '' %>">Citas</span>
                    </a>
                </li>
                <li class="list__item <%= request.originalUrl.includes('/medicamentos') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/medicamentos" title="Medicamentos">
                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/medicamentos') ? 'area__text--active' : '' %>">Medicamentos</span>
                    </a>
                </li>
                <li class="list__divider"><span class="divider__text">ADMIN</span></li>
                <li
                    class="list__item <%= request.originalUrl.includes('/administradores') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/administradores" title="Administradores">
                        <i class="fa-solid fa-user-shield"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/administradores') ? 'area__text--active' : '' %>">
                            Administradores
                        </span>
                    </a>
                </li>
                <li class="list__item <%= request.originalUrl.includes('/pagos') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/pagos" title="Pagos">
                        <i class="fa-solid fa-credit-card"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/pagos') ? 'area__text--active' : '' %>">Pagos</span>
                    </a>
                </li>
                <li
                    class="list__item <%= request.originalUrl.includes('/admin/especialidades') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/especialidades" title="Especialidades">
                        <i class="fa-solid fa-stethoscope"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/admin/especialidades') ? 'area__text--active' : '' %>">
                            Especialidades
                        </span>
                    </a>
                </li>
                <li class="list__item <%= request.originalUrl.includes('/sucursales') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/sucursales" title="Sucursales">
                        <i class="fa-solid fa-hospital-user"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/sucursales') ? 'area__text--active' : '' %>">Sucursales</span>
                    </a>
                </li>
                <li
                    class="list__item <%= request.originalUrl.includes('/admin/historialCitas') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/historialCitas" title="Historial Citas">
                        <i class="fa-solid fa-clock"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/admin/historialCitas') ? 'area__text--active' : '' %>">
                            Historial de Citas
                        </span>
                    </a>
                </li>
                <li
                    class="list__item <%= request.originalUrl.includes('/admin/historialRecetas') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/historialRecetas" title="Historial de Recetas">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/admin/historialRecetas') ? 'area__text--active' : '' %>">
                            Historial de Recetas
                        </span>
                    </a>
                </li>
                <li class="list__item <%= request.originalUrl.includes('/bitacora') ? 'list__item--active' : '' %>">
                    <a class="item__area" href="/admin/bitacora" title="Bitácora">
                        <i class="fa-solid fa-database"></i>
                        <span
                            class="area__text <%= request.originalUrl.includes('/bitacora') ? 'area__text--active' : '' %>">Bitácora</span>
                    </a>
                </li>
                <% } %>

                    <% if (usuario.rol==='doctor' ) { %>

                        <li
                            class="list__item <%= request.originalUrl.includes('/doctor/citas') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/doctor/citas" title="Citas Pendientes">
                                <i class="fa-solid fa-calendar-check"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/doctor/citas') ? 'area__text--active' : '' %>">
                                    Citas Pendientes
                                </span>
                            </a>
                        </li>

                        <li
                            class="list__item <%= request.originalUrl.includes('/doctor/historial') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/doctor/historial" title="Historial Citas">
                                <i class="fa-solid fa-clock-rotate-left"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/doctor/historial') ? 'area__text--active' : '' %>">
                                    Historial citas
                                </span>
                            </a>
                        </li>

                        <li
                            class="list__item <%= request.originalUrl.includes('/horariosNoDisponibles') ? 'list__item--active' : '' %>">
                            <a class="item__area" href="/doctor/horariosNoDisponibles" title="horariosNoDisponibles">
                                <i class="fa-solid fa-clock"></i>
                                <span
                                    class="area__text <%= request.originalUrl.includes('/horariosNoDisponibles') ? 'area__text--active' : '' %>">Horarios
                                    no disponibles</span>
                            </a>
                        </li>

                        <% } %>

                            <% if (usuario.rol==='farmaceutico' ) { %>

                                <li
                                    class="list__item <%= request.originalUrl === '/farmaceutico/recetas' ? 'list__item--active' : '' %>">
                                    <a class="item__area" href="/farmaceutico/recetas" title="Recetas">
                                        <i class="fa-solid fa-hospital-user"></i>
                                        <span
                                            class="area__text <%= request.originalUrl === '/farmaceutico/recetas' ? 'area__text--active' : '' %>">
                                            Recetas
                                        </span>
                                    </a>
                                </li>

                                <li
                                    class="list__item <%= request.originalUrl === '/farmaceutico/recetas_historial' ? 'list__item--active' : '' %>">
                                    <a class="item__area" href="/farmaceutico/recetas_historial"
                                        title="Historial de Recetas">
                                        <i class="fa-solid fa-clock-rotate-left"></i>
                                        <span
                                            class="area__text <%= request.originalUrl === '/farmaceutico/recetas_historial' ? 'area__text--active' : '' %>">
                                            Historial de Recetas
                                        </span>
                                    </a>
                                </li>

                                <li
                                    class="list__item <%= request.originalUrl === '/farmaceutico/medicamentos' ? 'list__item--active' : '' %>">
                                    <a class="item__area" href="/farmaceutico/medicamentos" title="Medicamentos">
                                        <i class="fa-solid fa-pills"></i>
                                        <span
                                            class="area__text <%= request.originalUrl === '/farmaceutico/medicamentos' ? 'area__text--active' : '' %>">
                                            Medicamentos
                                        </span>
                                    </a>
                                </li>

                                <% } %>
        </ul>

        <div class="sidebar__bottom">
            <a class="bottom__btn" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="btn__text">Salir</span>
            </a>
        </div>
    </nav>

    <main class="main">
        <section class="main__container">

            <div class="container__content">
                <% if (typeof viewParcial !=='undefined' ) { %>
                    <%- include(viewParcial) %>
                        <% } else { %>
                            <div class="content">
                                <div class="content__title">
                                    <h1>¡Bienvenido <%= usuario.rol.toUpperCase() %>!</h1>
                                    <p>Has iniciado sesión como <%= usuario.email %>.</p>
                                </div>
                            </div>
                            <% } %>
            </div>

        </section>
    </main>

    <!-- FontAwesome Kit -->
    <script src="https://kit.fontawesome.com/fa4744a987.js" crossorigin="anonymous"></script>

    <!-- Lógica de la barra lateral -->
    <script src="/js/toggleSidebar.js" defer></script>

    <!-- jQuery (debe cargarse antes que DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables 1.13.6 -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <!-- DataTables Responsive 2.4.1 -->
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Choices.js (para selects personalizados) -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>


</body>

</html>